.content-section {
  min-height: 100vh;
  display: inline-block;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.content-section h2 {
  margin-top: 50px;
  margin-right: var(--space-medium);
  margin-left: var(--space-medium);
  margin-bottom: var(--space-big);
  text-align: left;
  padding: 0;
}

/* Hero */
#hero {
  min-height: 100vh;
  background: var(--color-light-grey);
  display: grid;
  align-items: center;
  width: 100%;
}

#hero h1 {
  text-align: center;
  padding: 0;
  margin: var(--space-medium);
}

/*About me*/
#about {
  background: #ffffff;
}

#about img {
  width: 320px;
  align-items: center;
}

.image-about {
  display: inline-block;
  justify-content: center;
}

/*Portfolio*/
#projects img {
  width: 150px;
  height: 120px;
  border-radius: 8px;
  padding: 0;
}

.overlayed img {
  opacity: 0.6;
}

.overlay-text {
  display: flex;
  position: absolute;
  margin-top: 20px;
}

.overlay-text p {
  font-size: 16px;
  font-weight: bolder;
  color: black;
  text-transform: uppercase;
  z-index: 900;
  justify-content: center;
  align-items: center;
}

#projects h3 {
  margin-bottom: var(--space-small);
  margin: 0;
  padding-bottom: 10px;
  padding-top: 5px;
}

#projects {
  background: var(--color-light-grey);
  display: inline-block;
  width: 100%;
}

.projects-section {
  padding: var(--space-medium);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-small);
  grid-row-gap: var(--space-small);
}

/*Technologies*/
#tech {
  background: FFFFFF;
  color: var(--color-very-dark-purple);
}

.tech-card {
  margin: var(--space-medium);
}

.tech-card img {
  height: 44px;
  width: auto;
}

.tech-card h3 {
  margin: 0;
  padding: 0;
}

.grid-technologies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  filter: grayscale(3);
}

/*Contact*/
.contact-section {
  display: grid;
  justify-content: center;
  margin-bottom: var(--space-big);
}

.contact-section ul {
  margin: var(--space-medium);
  padding: 0;
  list-style: none;
}

#contact {
  min-height: 100%;
  background: var(--color-light-grey);
  display: inline-block;
  align-items: flex-end;
  width: 100%;
}

#contact img {
  width: 24px;
  margin-right: var(--space-small);
}

.contact-section li {
  margin-bottom: var(--space-small);
}

#contact a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
