nav {
  width: 100vw;
  height: 50px;
  background: black;
  overflow: hidden;
  position: fixed;
}

.navigation ul {
  list-style: none;
  align-items: center;
  text-align: center;
  padding: 0;
  background-color: var(--color-dark-purple);
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: center;
}

.navigation li {
  display: flex;
  justify-items: center;
}

.navigation img {
  width: 40px;
  height: auto;
  margin-top: 0;
  background: var(--color-dark-grey);
}
