html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/* Mobile */
h1 {
  font-size: 34px;
  font-weight: normal;
  line-height: 41px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
}

p {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  margin: var(--space-medium);
}
