html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

/* Mobile */
h1 {
  font-size: 34px;
  font-weight: normal;
  line-height: 41px;
  margin-top: 50px;
  margin-right: var(--space-medium);
  margin-left: var(--space-medium);
  margin-bottom: 0;
  text-align: left;
  padding: 0;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  line-height: 22px;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  line-height: 22px;
}

p {
  font-size: 17px;
  font-weight: normal;
  line-height: 22px;
  margin-right: var(--space-medium);
  margin-left: var(--space-medium);
  margin-bottom: 0;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
}

li {
  display: flex;
  justify-items: center;
}

a {
  font-size: 14px;
  font-weight: thin;
  margin-right: var(--space-small);
  margin-left: var(--space-small);
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/*Nav*/
nav {
  background: #000000;
  width: 100vw;
  height: 50px;
  background: black;
  overflow: hidden;
  position: fixed;
}

.navigation img {
  width: 40px;
  height: auto;
  margin-top: 0;
  background: var(--color-dark-grey);
}

.navigation ul {
  background-color: var(--color-dark-purple);
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: center;
}

/*Footer*/
footer {
  width: 100%;
  background: #c4c4c4;
  overflow: hidden;
  bottom: 0;
  display: grid;
  justify-items: center;
}

.footer p {
  margin: var(--space-medium);
  color: #eeeeee;
}
